# 1. Data Processing

## 1.1 Quarterly Reports Dataset:

After downloading the quarter reports financial tables from FACSET.COM , let's have a look at one example

In [13]:
import pandas as pd

# Example TESLA
file_path = 'Quarter Reports/TESLA.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path)

# Print the first few rows of the DataFrame
print(df.head())

                                  Tesla, Inc. (TSLA) Unnamed: 1 Unnamed: 2  \
0                                            $163.57        NaN        NaN
1                                                NaN        NaN        NaN
2                                                NaN        NaN        NaN
3                                        Tesla, Inc.        NaN        NaN
4  TSLA   88160R101   B616C79   NASDAQ    Common ...        NaN        NaN

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  Unnamed: 9  ... Unnamed: 51 Unnamed: 52 Unnamed: 53 Unnamed: 54 Unnamed: 55  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4        NaN  ...         NaN         NaN         NaN         NaN         NaN

  Unnamed: 56 Unnamed: 57 Unnamed: 58 Unnamed: 59 Unnamed: 60
0         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN

[5 rows x 61 columns]

The output shows the first five rows of a DataFrame from Tesla's quarterly report Excel file, consisting of 61 columns most of which are unnamed and filled with NaN values. The initial rows contain some metadata about Tesla like the stock price $163.57 ticker (TSLA) and information means that the main data needs cleaning for analysis. Therefore first we extract the relavant data from the quarter report tables

In [14]:
import os
import openpyxl
import csv

def extract_data_from_xlsx(input_file, output_file):
    # Load the Excel file
    wb = openpyxl.load_workbook(input_file)
    
    # Assuming the data starts from row 9 and column 2
    sheet = wb.active
    max_row = sheet.max_row
    max_column = sheet.max_column
    
    # Open CSV file for writing
    with open(output_file, 'w', newline='') as csv_file:
        writer = csv.writer(csv_file)
        
        row_headers = [sheet.cell(row=row, column=1).value for row in range(9, max_row + 1)]
        
        writer.writerow([''] + row_headers)
        
        for col in range(2, max_column + 1):
            data_col = [sheet.cell(row=row, column=col).value for row in range(9, max_row + 1)]
            writer.writerow([sheet.cell(row=8, column=col).value] + data_col)

def extract_data_from_folder(input_folder, output_folder):
    # Create output folder if it doesn't exist
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)
    
    # Iterate over files in input folder
    for filename in os.listdir(input_folder):
        if filename.endswith(".xlsx"):
            input_file = os.path.join(input_folder, filename)
            output_file = os.path.join(output_folder, filename.replace(".xlsx", ".csv"))
            extract_data_from_xlsx(input_file, output_file)

# Start extracting
extract_data_from_folder("Quarter Reports", "Cleaned Quarter Reports")

#Example output
df = pd.read_csv("Cleaned Quarter Reports/TESLA.csv")
df

,Unnamed: 0,Income Statement,Sales,Gross Income,EBIT,EBITDA,Net Income,Balance Sheet,Cash & Short-Term Investments,Total Assets,...,Capital Expenditures,Net Investing Cash Flow,Net Financing Cash Flow,Free Cash Flow,Supplemental,Stock Option Comp Exp (Net of Tax),Long Term Debt Maturities,Audit Information,Opinion,All figures in millions of U.S. Dollar.
0,DEC '23,NaN,25167.000,4438.000,2064.000,3296.000,7927.000,NaN,29637.000,106618.000,...,-2307.000,-4841.000,924.000,2063.00000,NaN,382.36000,2373.000,NaN,Unqualified,NaN
1,SEP '23,NaN,23350.000,4178.000,1764.000,2999.000,1851.000,NaN,26530.000,93941.000,...,-2459.000,-4769.000,2270.000,849.00000,NaN,367.35000,1967.000,NaN,-,NaN
2,JUN '23,NaN,24927.000,4533.000,2399.000,3553.000,2703.000,NaN,23459.000,90591.000,...,-2060.000,-3537.000,-325.000,1005.00000,NaN,351.55000,1459.000,NaN,-,NaN
3,MAR '23,NaN,23329.000,4511.000,2664.000,3710.000,2518.000,NaN,22888.000,86833.000,...,-2073.000,-2491.000,-226.000,440.00000,NaN,330.22000,1404.000,NaN,-,NaN
4,DEC '22,NaN,24318.000,5777.000,3935.000,4924.000,3722.000,NaN,22479.000,82338.000,...,-1858.000,-6157.000,-469.000,1420.00000,NaN,472.15000,1502.000,NaN,Unqualified,NaN
5,SEP '22,NaN,21454.000,5382.000,3688.000,4644.000,3292.000,NaN,21489.000,74426.000,...,-1803.000,-2791.000,-712.000,3297.00000,NaN,257.02000,1457.000,NaN,-,NaN
6,JUN '22,NaN,16934.000,4234.000,2606.000,3528.000,2256.000,NaN,19209.000,68513.000,...,-1730.000,-897.000,-393.000,621.00000,NaN,285.19000,1532.000,NaN,-,NaN
7,MAR '22,NaN,18756.000,5460.000,3603.000,4483.000,3313.000,NaN,18310.000,66038.000,...,-1781.000,-2173.000,-1908.000,2223.00000,NaN,305.14000,1659.000,NaN,-,NaN
8,DEC '21,NaN,17719.000,4847.000,2613.000,3461.000,2321.000,NaN,18052.000,62131.000,...,-1814.000,-1916.000,-1257.000,2771.00000,NaN,407.34000,1589.000,NaN,Unqualified,NaN
9,SEP '21,NaN,13757.000,3660.000,2055.000,2816.000,1618.000,NaN,16422.000,57834.000,...,-1825.000,-1855.000,-1381.000,1322.00000,NaN,337.25000,1716.000,NaN,-,NaN
10,JUN '21,NaN,11958.000,2884.000,1335.000,2016.000,1142.000,NaN,16555.000,55146.000,...,-1515.000,-1513.000,-1551.000,609.00000,NaN,346.02000,1530.000,NaN,-,NaN
11,MAR '21,NaN,10389.000,2215.000,493.000,1114.000,438.000,NaN,17446.000,52972.000,...,-2860.000,-2582.000,-1016.000,281.00000,NaN,448.22000,1819.000,NaN,-,NaN
12,DEC '20,NaN,10744.000,2066.000,575.000,1193.000,270.000,NaN,19622.000,52148.000,...,-1169.000,-1046.000,2691.000,1855.00000,NaN,462.09000,2173.000,NaN,Unqualified,NaN
13,SEP '20,NaN,8771.000,2063.000,809.000,1393.000,300.000,NaN,14705.000,45691.000,...,-1026.000,-1035.000,4446.000,1379.00000,NaN,396.39000,3174.000,NaN,-,NaN
14,JUN '20,NaN,6036.000,1267.000,327.000,894.000,104.000,NaN,8818.000,38135.000,...,-566.000,-566.000,123.000,398.00000,NaN,253.31000,3726.000,NaN,-,NaN
15,MAR '20,NaN,5985.000,1234.000,283.000,836.000,16.000,NaN,8273.000,37250.000,...,-481.000,-461.000,2689.000,-921.00000,NaN,154.03000,3270.000,NaN,-,NaN
16,DEC '19,NaN,7384.000,1391.000,347.000,924.000,105.000,NaN,6514.000,34309.000,...,-449.000,-277.000,-205.000,976.00000,NaN,205.13000,1842.000,NaN,Unqualified,NaN
17,SEP '19,NaN,6303.000,1191.000,261.000,791.851,143.000,NaN,5571.000,32795.000,...,-409.600,-421.478,54.044,346.06700,NaN,145.27000,2030.000,NaN,-,NaN
18,JUN '19,NaN,6349.676,921.046,-50.113,528.459,-408.334,NaN,5082.746,31872.597,...,-273.207,-199.500,2100.796,595.73198,NaN,153.19999,1791.085,NaN,-,NaN
19,MAR '19,NaN,4541.464,565.743,-478.360,-10.783,-702.135,NaN,2329.119,28912.524,...,-305.193,-259.022,-699.840,-944.79898,NaN,152.11594,1705.711,NaN,-,NaN
20,DEC '18,NaN,7225.873,1442.900,419.151,915.888,139.483,NaN,3878.169,29739.614,...,-353.901,-294.172,-183.146,880.66000,NaN,162.19727,2711.199,NaN,Unqualified,NaN
21,SEP '18,NaN,6824.413,1528.265,442.941,742.941,311.516,NaN,3126.131,29262.713,...,-559.765,-447.705,-197.478,831.51600,NaN,161.73512,2215.538,NaN,-,NaN
22,JUN '18,NaN,4002.231,625.930,-517.958,-266.158,-717.539,NaN,2383.246,27910.000,...,-677.213,-503.484,219.289,-806.87700,NaN,155.90176,2194.485,NaN,-,NaN
23,MAR '18,NaN,3408.751,462.326,-596.974,-180.741,-709.551,NaN,2785.867,27271.429,...,-728.637,-654.933,297.956,-1127.01300,NaN,111.89481,2085.330,NaN,-,NaN
24,DEC '17,NaN,3288.249,438.786,-598.141,-128.535,-675.350,NaN,3523.237,28655.372,...,-906.143,-864.090,188.056,-396.25200,NaN,106.13492,978.762,NaN,Unqualified,NaN
25,SEP '17,NaN,2984.675,459.940,-535.480,-134.856,-619.376,NaN,3668.211,28107.074,...,-1244.727,-1206.447,1993.021,-1545.28900,NaN,67.59180,441.724,NaN,-,NaN
26,JUN '17,NaN,2789.557,674.015,-240.916,-64.316,-336.397,NaN,3154.293,26043.705,...,-1157.912,-773.786,-12.663,-1358.08400,NaN,69.62520,828.533,NaN,-,NaN
27,MAR '17,NaN,2696.270,674.046,-257.549,119.053,-330.277,NaN,4095.539,25053.726,...,-772.572,-784.940,1456.746,-842.38300,NaN,62.23020,1003.311,NaN,-,NaN
28,DEC '16,NaN,2284.631,374.878,-327.098,-0.159,-121.337,NaN,3498.735,22664.076,...,-681.281,-393.224,1171.300,-1129.49000,NaN,52.62660,1205.978,NaN,Unqualified,NaN
29,SEP '16,NaN,2298.436,658.135,99.822,380.290,21.878,NaN,3107.968,12592.397,...,-247.611,-268.006,-320.870,176.03800,NaN,53.72580,263.371,NaN,-,NaN
30,JUN '16,NaN,1270.017,277.376,-238.040,-54.808,-293.188,NaN,3270.826,11868.952,...,-294.720,-319.854,1976.584,-144.38400,NaN,40.38720,629.226,NaN,-,NaN
31,MAR '16,NaN,1147.048,254.968,-248.224,-91.764,-282.267,NaN,1465.769,9191.702,...,-216.859,-233.819,715.435,-466.46400,NaN,53.79420,637.285,NaN,-,NaN
32,DEC '15,NaN,1214.379,218.564,-260.333,-116.610,-320.397,NaN,1219.536,8092.460,...,-411.222,-414.280,225.038,-441.07100,NaN,33.36300,634.466,NaN,Unqualified,NaN
33,SEP '15,NaN,936.789,231.496,-183.662,-73.296,-229.858,NaN,1451.259,7547.497,...,-392.403,-404.090,893.978,-595.74300,NaN,33.61980,652.809,NaN,-,NaN
34,JUN '15,NaN,954.976,213.370,-170.188,-78.799,-184.227,NaN,1171.264,6468.185,...,-405.165,-422.837,218.351,-564.68100,NaN,26.00100,638.875,NaN,-,NaN
35,MAR '15,NaN,939.880,260.073,-102.446,-25.334,-154.181,NaN,1530.769,6120.030,...,-426.060,-432.344,186.156,-557.85400,NaN,25.81560,630.332,NaN,-,NaN
36,DEC '14,NaN,956.661,261.697,-74.838,-6.862,-107.629,NaN,1923.660,5849.251,...,-368.661,-372.231,11.325,-455.06300,NaN,26.71020,632.128,NaN,Unqualified,NaN
37,SEP '14,NaN,851.804,251.851,-39.129,25.843,-74.708,NaN,2388.066,5437.533,...,-284.175,-291.643,33.754,-312.17100,NaN,23.49480,607.218,NaN,-,NaN
38,JUN '14,NaN,769.349,212.995,-28.753,25.962,-61.900,NaN,2686.624,5054.463,...,-175.685,2.610,281.492,-179.26500,NaN,21.46980,603.412,NaN,-,NaN
39,MAR '14,NaN,620.542,155.128,-43.967,0.301,-49.800,NaN,2584.068,4500.410,...,-141.364,-329.180,1816.559,-80.72300,NaN,22.22280,598.272,NaN,-,NaN
40,DEC '13,NaN,615.219,156.589,-13.353,24.232,-16.264,NaN,848.901,2416.930,...,-89.434,-89.505,10.516,40.32800,NaN,16.85340,7.904,NaN,Unqualified,NaN
41,SEP '13,NaN,431.346,102.868,-30.554,-2.104,-38.496,NaN,796.381,2166.209,...,-76.548,-77.502,24.215,25.79800,NaN,12.86340,5.971,NaN,-,NaN
42,JUN '13,NaN,405.139,100.483,-11.792,10.406,-30.502,NaN,747.419,1887.844,...,-40.515,-27.174,597.007,-78.70800,NaN,11.55540,5.695,NaN,-,NaN
43,MAR '13,NaN,561.792,96.320,-5.584,12.266,11.248,NaN,231.136,1143.778,...,-57.727,-55.236,3.684,6.35200,NaN,8.92080,56.293,NaN,-,NaN
44,DEC '12,NaN,306.332,23.857,-90.883,-78.091,-89.931,NaN,220.984,1114.190,...,-41.483,-38.187,214.445,-101.54400,NaN,8.64960,55.206,NaN,Unqualified,NaN
45,SEP '12,NaN,50.104,-8.761,-108.460,-100.938,-110.804,NaN,108.554,809.177,...,-68.472,-70.088,40.179,-163.42400,NaN,7.48500,54.029,NaN,-,NaN
46,JUN '12,NaN,26.653,4.762,-106.175,-101.827,-105.603,NaN,232.514,776.869,...,-61.286,-19.215,72.180,-122.26700,NaN,7.52580,38.098,NaN,-,NaN
47,MAR '12,NaN,30.167,10.210,-88.763,-84.600,-89.873,NaN,282.778,761.100,...,-67.987,-79.440,92.831,-118.07400,NaN,NaN,21.864,NaN,-,NaN
48,DEC '11,NaN,39.375,7.835,-80.927,-76.123,-81.489,NaN,303.803,713.448,...,-54.262,15.253,53.773,-81.35000,NaN,5.20900,8.983,NaN,Unqualified,NaN
49,SEP '11,NaN,57.666,17.224,-64.477,-60.197,-65.078,NaN,333.693,700.250,...,-68.844,-178.170,93.609,-90.33500,NaN,4.73200,0.388,NaN,-,NaN
50,JUN '11,NaN,58.171,18.508,-58.739,-54.421,-58.903,NaN,330.631,646.155,...,-54.314,-23.122,264.335,-76.80200,NaN,4.15600,0.287,NaN,-,NaN
51,MAR '11,NaN,49.030,18.028,-47.346,-43.829,-48.941,NaN,143.598,407.289,...,-20.476,10.111,34.283,-63.77300,NaN,3.55600,0.275,NaN,-,NaN
52,DEC '10,NaN,36.286,11.321,-51.645,-48.755,-51.358,NaN,173.155,386.082,...,-82.358,-8.550,45.829,-116.64200,NaN,NaN,0.279,NaN,Unqualified,NaN
53,SEP '10,NaN,31.241,9.296,-37.834,-34.725,-34.935,NaN,184.693,361.621,...,-5.383,-152.294,249.895,-53.72500,NaN,2.28700,0.291,NaN,-,NaN
54,JUN '10,NaN,28.405,6.261,-31.362,-28.879,-38.517,NaN,47.304,147.974,...,-12.200,-10.074,13.694,-30.06200,NaN,3.66900,0.296,NaN,-,NaN
55,MAR '10,NaN,20.812,1.711,-25.998,-23.857,-29.519,NaN,61.546,145.320,...,-5.472,-9.379,28.627,-32.80100,NaN,2.03200,0.293,NaN,Unqualified,NaN
56,DEC '09,NaN,18.585,1.781,-22.925,-20.990,-24.242,NaN,69.627,130.424,...,-6.199,-6.199,-1.714,-35.20600,NaN,NaN,0.290,NaN,Unqualified,NaN
57,SEP '09,NaN,45.527,7.699,-4.291,-2.343,-4.615,NaN,NaN,NaN,...,-2.256,-3.035,82.371,-25.74500,NaN,NaN,NaN,NaN,Unqualified,NaN
58,JUN '09,NaN,26.945,2.101,-8.087,-6.402,-10.867,NaN,NaN,NaN,...,-2.527,-4.108,55.229,-14.69300,NaN,NaN,NaN,NaN,-,NaN
59,MAR '09,NaN,20.886,-2.046,-16.594,-15.222,-16.016,NaN,NaN,NaN,...,-0.902,-0.902,19.533,-17.06500,NaN,NaN,NaN,NaN,Unqualified,NaN

We converts all Excel files in folder "Quarter Reports" to CSV files as starting from row 9 and column 2. Then saves the CSV files in an output folder   "Cleaned Quarter Reports".
As you can see some coulmns are empty let's drop them and keep the required columns only.

In [15]:
import os
import pandas as pd

def process_csv(folder_path):
    # List all files in the folder
    files = os.listdir(folder_path)
    
    for file in files:
        if file.endswith('.csv'):
            file_path = os.path.join(folder_path, file)
            
            # Read the CSV file
            df = pd.read_csv(file_path)
            
            # Extract the first column name (assuming it's the index or identifier column)
            first_column = df.columns[0]
            
            # Keep only the required columns
            required_columns = [
                '','Sales', 'Gross Income', 'EBIT', 'EBITDA', 'Net Income',
                'Cash & Short-Term Investments', 'Total Assets', 'Total Debt',
                'Net Debt', 'Total Liabilities', "Total Shareholders' Equity",
                'Net Operating Cash Flow', 'Capital Expenditures',
                'Net Investing Cash Flow', 'Net Financing Cash Flow',
                'Free Cash Flow', 
                'Long Term Debt Maturities'
            ]
            # Select required columns along with the first column
            columns_to_keep = [first_column] + [col for col in required_columns if col in df.columns]
            df = df[columns_to_keep]
            
            # Save the modified DataFrame back to CSV with the same filename
            df.to_csv(file_path, index=False)

# Provide the path to the folder containing CSV files
folder_path = 'Cleaned Quarter Reports'
process_csv(folder_path)

#Example output
df = pd.read_csv("Cleaned Quarter Reports/TESLA.csv")
df

,Unnamed: 0,Sales,Gross Income,EBIT,EBITDA,Net Income,Cash & Short-Term Investments,Total Assets,Total Debt,Net Debt,Total Liabilities,Total Shareholders' Equity,Net Operating Cash Flow,Capital Expenditures,Net Investing Cash Flow,Net Financing Cash Flow,Free Cash Flow,Long Term Debt Maturities
0,DEC '23,25167.000,4438.000,2064.000,3296.000,7927.000,29637.000,106618.000,9573.000,-20064.000,43009.000,62634.000,4370.000000,-2307.000,-4841.000,924.000,2063.00000,2373.000
1,SEP '23,23350.000,4178.000,1764.000,2999.000,1851.000,26530.000,93941.000,8187.000,-18343.000,39446.000,53466.000,3308.000000,-2459.000,-4769.000,2270.000,849.00000,1967.000
2,JUN '23,24927.000,4533.000,2399.000,3553.000,2703.000,23459.000,90591.000,5811.000,-17648.000,38409.000,51130.000,3065.000000,-2060.000,-3537.000,-325.000,1005.00000,1459.000
3,MAR '23,23329.000,4511.000,2664.000,3710.000,2518.000,22888.000,86833.000,5574.000,-17314.000,37598.000,48054.000,2513.000000,-2073.000,-2491.000,-226.000,440.00000,1404.000
4,DEC '22,24318.000,5777.000,3935.000,4924.000,3722.000,22479.000,82338.000,5748.000,-16731.000,36440.000,44704.000,3278.000000,-1858.000,-6157.000,-469.000,1420.00000,1502.000
5,SEP '22,21454.000,5382.000,3688.000,4644.000,3292.000,21489.000,74426.000,5874.000,-15615.000,33302.000,39851.000,5100.000000,-1803.000,-2791.000,-712.000,3297.00000,1457.000
6,JUN '22,16934.000,4234.000,2606.000,3528.000,2256.000,19209.000,68513.000,6665.000,-12544.000,30855.000,36376.000,2351.000000,-1730.000,-897.000,-393.000,621.00000,1532.000
7,MAR '22,18756.000,5460.000,3603.000,4483.000,3313.000,18310.000,66038.000,7025.000,-11285.000,30632.000,34085.000,3995.000000,-1781.000,-2173.000,-1908.000,2223.00000,1659.000
8,DEC '21,17719.000,4847.000,2613.000,3461.000,2321.000,18052.000,62131.000,8873.000,-9179.000,30548.000,30189.000,4585.000000,-1814.000,-1916.000,-1257.000,2771.00000,1589.000
9,SEP '21,13757.000,3660.000,2055.000,2816.000,1618.000,16422.000,57834.000,10126.000,-6296.000,29340.000,27053.000,3147.000000,-1825.000,-1855.000,-1381.000,1322.00000,1716.000
10,JUN '21,11958.000,2884.000,1335.000,2016.000,1142.000,16555.000,55146.000,11133.000,-5422.000,28896.000,24804.000,2124.000000,-1515.000,-1513.000,-1551.000,609.00000,1530.000
11,MAR '21,10389.000,2215.000,493.000,1114.000,438.000,17446.000,52972.000,12511.000,-4935.000,28507.000,23017.000,1641.000000,-2860.000,-2582.000,-1016.000,281.00000,1819.000
12,DEC '20,10744.000,2066.000,575.000,1193.000,270.000,19622.000,52148.000,13347.000,-6275.000,28469.000,22225.000,3019.000000,-1169.000,-1046.000,2691.000,1855.00000,2173.000
13,SEP '20,8771.000,2063.000,809.000,1393.000,300.000,14705.000,45691.000,15163.000,458.000,28191.000,16031.000,2400.000000,-1026.000,-1035.000,4446.000,1379.00000,3174.000
14,JUN '20,6036.000,1267.000,327.000,894.000,104.000,8818.000,38135.000,15477.000,6659.000,26798.000,9855.000,964.000000,-566.000,-566.000,123.000,398.00000,3726.000
15,MAR '20,5985.000,1234.000,283.000,836.000,16.000,8273.000,37250.000,15200.000,6927.000,26578.000,9173.000,-440.000000,-481.000,-461.000,2689.000,-921.00000,3270.000
16,DEC '19,7384.000,1391.000,347.000,924.000,105.000,6514.000,34309.000,14697.000,8183.000,26199.000,6618.000,1425.000000,-449.000,-277.000,-205.000,976.00000,1842.000
17,SEP '19,6303.000,1191.000,261.000,791.851,143.000,5571.000,32795.000,14636.000,9065.000,25313.000,6040.000,756.000000,-409.600,-421.478,54.044,346.06700,2030.000
18,JUN '19,6349.676,921.046,-50.113,528.459,-408.334,5082.746,31872.597,14320.924,9238.178,24722.136,5715.393,863.605975,-273.207,-199.500,2100.796,595.73198,1791.085
19,MAR '19,4541.464,565.743,-478.360,-10.783,-702.135,2329.119,28912.524,12748.475,10419.356,22874.618,4605.596,-639.605975,-305.193,-259.022,-699.840,-944.79898,1705.711
20,DEC '18,7225.873,1442.900,419.151,915.888,139.483,3878.169,29739.614,13827.271,9949.102,23426.010,4923.243,1234.561000,-353.901,-294.172,-183.146,880.66000,2711.199
21,SEP '18,6824.413,1528.265,442.941,742.941,311.516,3126.131,29262.713,13564.186,10438.055,23409.144,4508.838,1391.281000,-559.765,-447.705,-197.478,831.51600,2215.538
22,JUN '18,4002.231,625.930,-517.958,-266.158,-717.539,2383.246,27910.000,13412.247,11029.001,22642.887,3906.421,-129.664000,-677.213,-503.484,219.289,-806.87700,2194.485
23,MAR '18,3408.751,462.326,-596.974,-180.741,-709.551,2785.867,27271.429,12570.342,9784.475,21551.023,4450.695,-398.376000,-728.637,-654.933,297.956,-1127.01300,2085.330
24,DEC '17,3288.249,438.786,-598.141,-128.535,-675.350,3523.237,28655.372,12130.848,8607.611,23023.050,4237.242,509.891000,-906.143,-864.090,188.056,-396.25200,978.762
25,SEP '17,2984.675,459.940,-535.480,-134.856,-619.376,3668.211,28107.074,11720.149,8051.938,21929.414,4711.480,-300.562000,-1244.727,-1206.447,1993.021,-1545.28900,441.724
26,JUN '17,2789.557,674.015,-240.916,-64.316,-336.397,3154.293,26043.705,9557.406,6403.113,19461.590,5105.752,-200.172000,-1157.912,-773.786,-12.663,-1358.08400,828.533
27,MAR '17,2696.270,674.046,-257.549,119.053,-330.277,4095.539,25053.726,9656.626,5561.087,18892.636,4987.719,-69.811000,-772.572,-784.940,1456.746,-842.38300,1003.311
28,DEC '16,2284.631,374.878,-327.098,-0.159,-121.337,3498.735,22664.076,8591.915,5093.180,16758.951,4752.911,-448.209000,-681.281,-393.224,1171.300,-1129.49000,1205.978
29,SEP '16,2298.436,658.135,99.822,380.290,21.878,3107.968,12592.397,3172.261,64.293,9911.909,2680.488,423.649000,-247.611,-268.006,-320.870,176.03800,263.371
30,JUN '16,1270.017,277.376,-238.040,-54.808,-293.188,3270.826,11868.952,3667.074,396.248,9348.658,2520.294,150.336000,-294.720,-319.854,1976.584,-144.38400,629.226
31,MAR '16,1147.048,254.968,-248.224,-91.764,-282.267,1465.769,9191.702,3409.040,1943.271,8221.337,970.365,-249.605000,-216.859,-233.819,715.435,-466.46400,637.285
32,DEC '15,1214.379,218.564,-260.333,-116.610,-320.397,1219.536,8092.460,2918.186,1698.650,7003.516,1088.944,-29.849000,-411.222,-414.280,225.038,-441.07100,634.466
33,SEP '15,936.789,231.496,-183.662,-73.296,-229.858,1451.259,7547.497,2800.603,1349.344,6186.660,1314.656,-203.340000,-392.403,-404.090,893.978,-595.74300,652.809
34,JUN '15,954.976,213.370,-170.188,-78.799,-184.227,1171.264,6468.185,2740.218,1568.954,5701.978,715.934,-159.516000,-405.165,-422.837,218.351,-564.68100,638.875
35,MAR '15,939.880,260.073,-102.446,-25.334,-154.181,1530.769,6120.030,2645.846,1115.077,5294.033,825.997,-131.794000,-426.060,-432.344,186.156,-557.85400,630.332
36,DEC '14,956.661,261.697,-74.838,-6.862,-107.629,1923.660,5849.251,2482.313,558.653,4879.345,911.710,-86.402000,-368.661,-372.231,11.325,-455.06300,632.128
37,SEP '14,851.804,251.851,-39.129,25.843,-74.708,2388.066,5437.533,2468.820,80.754,4479.439,958.094,-27.996000,-284.175,-291.643,33.754,-312.17100,607.218
38,JUN '14,769.349,212.995,-28.753,25.962,-61.900,2686.624,5054.463,2450.618,-236.006,4102.130,952.333,-3.580000,-175.685,2.610,281.492,-179.26500,603.412
39,MAR '14,620.542,155.128,-43.967,0.301,-49.800,2584.068,4500.410,2200.753,-383.315,3588.354,912.056,60.641000,-141.364,-329.180,1816.559,-80.72300,598.272
40,DEC '13,615.219,156.589,-13.353,24.232,-16.264,848.901,2416.930,606.878,-242.023,1749.810,667.120,129.762000,-89.434,-89.505,10.516,40.32800,7.904
41,SEP '13,431.346,102.868,-30.554,-2.104,-38.496,796.381,2166.209,676.902,-119.479,1602.044,564.165,102.346000,-76.548,-77.502,24.215,25.79800,5.971
42,JUN '13,405.139,100.483,-11.792,10.406,-30.502,747.419,1887.844,593.684,-153.735,1258.418,629.426,-38.193000,-40.515,-27.174,597.007,-78.70800,5.695
43,MAR '13,561.792,96.320,-5.584,12.266,11.248,231.136,1143.778,455.538,224.402,975.195,168.583,64.079000,-57.727,-55.236,3.684,6.35200,56.293
44,DEC '12,306.332,23.857,-90.883,-78.091,-89.931,220.984,1114.190,466.666,245.682,989.490,124.700,-60.061000,-41.483,-38.187,214.445,-101.54400,55.206
45,SEP '12,50.104,-8.761,-108.460,-100.938,-110.804,108.554,809.177,474.514,365.960,837.052,-27.875,-94.952000,-68.472,-70.088,40.179,-163.42400,54.029
46,JUN '12,26.653,4.762,-106.175,-101.827,-105.603,232.514,776.869,438.973,206.459,714.654,62.215,-60.981000,-61.286,-19.215,72.180,-122.26700,38.098
47,MAR '12,30.167,10.210,-88.763,-84.600,-89.873,282.778,761.100,365.908,83.130,607.226,153.874,-50.087000,-67.987,-79.440,92.831,-118.07400,21.864
48,DEC '11,39.375,7.835,-80.927,-76.123,-81.489,303.803,713.448,280.148,-23.655,489.403,224.045,-27.088000,-54.262,15.253,53.773,-81.35000,8.983
49,SEP '11,57.666,17.224,-64.477,-60.197,-65.078,333.693,700.250,226.049,-107.644,406.132,294.118,-21.491000,-68.844,-178.170,93.609,-90.33500,0.388
50,JUN '11,58.171,18.508,-58.739,-54.421,-58.903,330.631,646.155,134.823,-195.808,297.703,348.452,-22.488000,-54.314,-23.122,264.335,-76.80200,0.287
51,MAR '11,49.030,18.028,-47.346,-43.829,-48.941,143.598,407.289,103.180,-40.418,239.551,167.738,-43.297000,-20.476,10.111,34.283,-63.77300,0.275
52,DEC '10,36.286,11.321,-51.645,-48.755,-51.358,173.155,386.082,72.603,-100.552,172.946,213.136,-34.284000,-82.358,-8.550,45.829,-116.64200,0.279
53,SEP '10,31.241,9.296,-37.834,-34.725,-34.935,184.693,361.621,57.414,-127.279,135.023,219.923,-48.342000,-5.383,-152.294,249.895,-53.72500,0.291
54,JUN '10,28.405,6.261,-31.362,-28.879,-38.517,47.304,147.974,46.354,-0.950,121.815,9.450,-17.862000,-12.200,-10.074,13.694,-30.06200,0.296
55,MAR '10,20.812,1.711,-25.998,-23.857,-29.519,61.546,145.320,30.932,NaN,95.033,39.928,-27.329000,-5.472,-9.379,28.627,-32.80100,0.293
56,DEC '09,18.585,1.781,-22.925,-20.990,-24.242,69.627,130.424,1.090,-68.537,62.988,-253.523,-29.007000,-6.199,-6.199,-1.714,-35.20600,0.290
57,SEP '09,45.527,7.699,-4.291,-2.343,-4.615,NaN,NaN,NaN,NaN,NaN,NaN,-23.489000,-2.256,-3.035,82.371,-25.74500,NaN
58,JUN '09,26.945,2.101,-8.087,-6.402,-10.867,NaN,NaN,NaN,NaN,NaN,NaN,-12.166000,-2.527,-4.108,55.229,-14.69300,NaN
59,MAR '09,20.886,-2.046,-16.594,-15.222,-16.016,NaN,NaN,NaN,NaN,NaN,NaN,-16.163000,-0.902,-0.902,19.533,-17.06500,NaN

Now looks better. However , we need to rename first coulmn to "Date" and make sure it's a date type.

In [16]:
import os
import pandas as pd

# Specify the directory containing the CSV files
folder_path = 'Cleaned Quarter Reports'

# List all CSV files in the specified directory
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Iterate through each CSV file
for file_name in csv_files:
    file_path = os.path.join(folder_path, file_name)
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Check if the first column name is empty
    if df.columns[0] == 'Unnamed: 0':
        # Rename the first column to 'DATE'
        df.rename(columns={df.columns[0]: 'Date'}, inplace=True)
        
        # Save the modified DataFrame back to CSV
        df.to_csv(file_path, index=False)
        print(f"Renamed the first column in '{file_name}' to 'DATE'")
    else:
        print(f"No empty column found in '{file_name}'")

print("First Coulmn renamed")

import os
import pandas as pd

# Function to process each CSV file
def process_csv(file_path):
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'], format="%b '%y")
    
    # Convert the 'Date' column to the desired format
    df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
    
    # Save the updated data to the original CSV file
    df.to_csv(file_path, index=False)

# Folder containing CSV files
folder_path = 'Cleaned Quarter Reports'

# Iterate through each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)
        process_csv(file_path)

Renamed the first column in '1211.csv' to 'DATE'
Renamed the first column in '175.csv' to 'DATE'
Renamed the first column in '2333.csv' to 'DATE'
Renamed the first column in '500520.csv' to 'DATE'
Renamed the first column in '5380.csv' to 'DATE'
Renamed the first column in '7201.csv' to 'DATE'
Renamed the first column in '7202.csv' to 'DATE'
Renamed the first column in '7203.csv' to 'DATE'
Renamed the first column in '7261.csv' to 'DATE'
Renamed the first column in '7267.csv' to 'DATE'
Renamed the first column in '7269.csv' to 'DATE'
Renamed the first column in '7270.csv' to 'DATE'
Renamed the first column in '9868.csv' to 'DATE'
Renamed the first column in 'BMW.csv' to 'DATE'
Renamed the first column in 'Ford.csv' to 'DATE'
Renamed the first column in 'GM.csv' to 'DATE'
Renamed the first column in 'LCID.csv' to 'DATE'
Renamed the first column in 'LI.csv' to 'DATE'
Renamed the first column in 'MBG.csv' to 'DATE'
Renamed the first column in 'NIO.csv' to 'DATE'
Renamed the first column in 'PII.csv' to 'DATE'
Renamed the first column in 'PSNY.csv' to 'DATE'
Renamed the first column in 'RACE.csv' to 'DATE'
Renamed the first column in 'RIVN.csv' to 'DATE'
Renamed the first column in 'RNO.csv' to 'DATE'
Renamed the first column in 'STLAM.csv' to 'DATE'
Renamed the first column in 'TESLA.csv' to 'DATE'
Renamed the first column in 'VFS.csv' to 'DATE'
Renamed the first column in 'VOLVO.csv' to 'DATE'
Renamed the first column in 'vw.csv' to 'DATE'
First Coulmn renamed

Now the dataset is ready , next step to combine it with historical stock prices

In [17]:
#Example output
df = pd.read_csv("Cleaned Quarter Reports/TESLA.csv")
df

,Date,Sales,Gross Income,EBIT,EBITDA,Net Income,Cash & Short-Term Investments,Total Assets,Total Debt,Net Debt,Total Liabilities,Total Shareholders' Equity,Net Operating Cash Flow,Capital Expenditures,Net Investing Cash Flow,Net Financing Cash Flow,Free Cash Flow,Long Term Debt Maturities
0,2023-12-01,25167.000,4438.000,2064.000,3296.000,7927.000,29637.000,106618.000,9573.000,-20064.000,43009.000,62634.000,4370.000000,-2307.000,-4841.000,924.000,2063.00000,2373.000
1,2023-09-01,23350.000,4178.000,1764.000,2999.000,1851.000,26530.000,93941.000,8187.000,-18343.000,39446.000,53466.000,3308.000000,-2459.000,-4769.000,2270.000,849.00000,1967.000
2,2023-06-01,24927.000,4533.000,2399.000,3553.000,2703.000,23459.000,90591.000,5811.000,-17648.000,38409.000,51130.000,3065.000000,-2060.000,-3537.000,-325.000,1005.00000,1459.000
3,2023-03-01,23329.000,4511.000,2664.000,3710.000,2518.000,22888.000,86833.000,5574.000,-17314.000,37598.000,48054.000,2513.000000,-2073.000,-2491.000,-226.000,440.00000,1404.000
4,2022-12-01,24318.000,5777.000,3935.000,4924.000,3722.000,22479.000,82338.000,5748.000,-16731.000,36440.000,44704.000,3278.000000,-1858.000,-6157.000,-469.000,1420.00000,1502.000
5,2022-09-01,21454.000,5382.000,3688.000,4644.000,3292.000,21489.000,74426.000,5874.000,-15615.000,33302.000,39851.000,5100.000000,-1803.000,-2791.000,-712.000,3297.00000,1457.000
6,2022-06-01,16934.000,4234.000,2606.000,3528.000,2256.000,19209.000,68513.000,6665.000,-12544.000,30855.000,36376.000,2351.000000,-1730.000,-897.000,-393.000,621.00000,1532.000
7,2022-03-01,18756.000,5460.000,3603.000,4483.000,3313.000,18310.000,66038.000,7025.000,-11285.000,30632.000,34085.000,3995.000000,-1781.000,-2173.000,-1908.000,2223.00000,1659.000
8,2021-12-01,17719.000,4847.000,2613.000,3461.000,2321.000,18052.000,62131.000,8873.000,-9179.000,30548.000,30189.000,4585.000000,-1814.000,-1916.000,-1257.000,2771.00000,1589.000
9,2021-09-01,13757.000,3660.000,2055.000,2816.000,1618.000,16422.000,57834.000,10126.000,-6296.000,29340.000,27053.000,3147.000000,-1825.000,-1855.000,-1381.000,1322.00000,1716.000
10,2021-06-01,11958.000,2884.000,1335.000,2016.000,1142.000,16555.000,55146.000,11133.000,-5422.000,28896.000,24804.000,2124.000000,-1515.000,-1513.000,-1551.000,609.00000,1530.000
11,2021-03-01,10389.000,2215.000,493.000,1114.000,438.000,17446.000,52972.000,12511.000,-4935.000,28507.000,23017.000,1641.000000,-2860.000,-2582.000,-1016.000,281.00000,1819.000
12,2020-12-01,10744.000,2066.000,575.000,1193.000,270.000,19622.000,52148.000,13347.000,-6275.000,28469.000,22225.000,3019.000000,-1169.000,-1046.000,2691.000,1855.00000,2173.000
13,2020-09-01,8771.000,2063.000,809.000,1393.000,300.000,14705.000,45691.000,15163.000,458.000,28191.000,16031.000,2400.000000,-1026.000,-1035.000,4446.000,1379.00000,3174.000
14,2020-06-01,6036.000,1267.000,327.000,894.000,104.000,8818.000,38135.000,15477.000,6659.000,26798.000,9855.000,964.000000,-566.000,-566.000,123.000,398.00000,3726.000
15,2020-03-01,5985.000,1234.000,283.000,836.000,16.000,8273.000,37250.000,15200.000,6927.000,26578.000,9173.000,-440.000000,-481.000,-461.000,2689.000,-921.00000,3270.000
16,2019-12-01,7384.000,1391.000,347.000,924.000,105.000,6514.000,34309.000,14697.000,8183.000,26199.000,6618.000,1425.000000,-449.000,-277.000,-205.000,976.00000,1842.000
17,2019-09-01,6303.000,1191.000,261.000,791.851,143.000,5571.000,32795.000,14636.000,9065.000,25313.000,6040.000,756.000000,-409.600,-421.478,54.044,346.06700,2030.000
18,2019-06-01,6349.676,921.046,-50.113,528.459,-408.334,5082.746,31872.597,14320.924,9238.178,24722.136,5715.393,863.605975,-273.207,-199.500,2100.796,595.73198,1791.085
19,2019-03-01,4541.464,565.743,-478.360,-10.783,-702.135,2329.119,28912.524,12748.475,10419.356,22874.618,4605.596,-639.605975,-305.193,-259.022,-699.840,-944.79898,1705.711
20,2018-12-01,7225.873,1442.900,419.151,915.888,139.483,3878.169,29739.614,13827.271,9949.102,23426.010,4923.243,1234.561000,-353.901,-294.172,-183.146,880.66000,2711.199
21,2018-09-01,6824.413,1528.265,442.941,742.941,311.516,3126.131,29262.713,13564.186,10438.055,23409.144,4508.838,1391.281000,-559.765,-447.705,-197.478,831.51600,2215.538
22,2018-06-01,4002.231,625.930,-517.958,-266.158,-717.539,2383.246,27910.000,13412.247,11029.001,22642.887,3906.421,-129.664000,-677.213,-503.484,219.289,-806.87700,2194.485
23,2018-03-01,3408.751,462.326,-596.974,-180.741,-709.551,2785.867,27271.429,12570.342,9784.475,21551.023,4450.695,-398.376000,-728.637,-654.933,297.956,-1127.01300,2085.330
24,2017-12-01,3288.249,438.786,-598.141,-128.535,-675.350,3523.237,28655.372,12130.848,8607.611,23023.050,4237.242,509.891000,-906.143,-864.090,188.056,-396.25200,978.762
25,2017-09-01,2984.675,459.940,-535.480,-134.856,-619.376,3668.211,28107.074,11720.149,8051.938,21929.414,4711.480,-300.562000,-1244.727,-1206.447,1993.021,-1545.28900,441.724
26,2017-06-01,2789.557,674.015,-240.916,-64.316,-336.397,3154.293,26043.705,9557.406,6403.113,19461.590,5105.752,-200.172000,-1157.912,-773.786,-12.663,-1358.08400,828.533
27,2017-03-01,2696.270,674.046,-257.549,119.053,-330.277,4095.539,25053.726,9656.626,5561.087,18892.636,4987.719,-69.811000,-772.572,-784.940,1456.746,-842.38300,1003.311
28,2016-12-01,2284.631,374.878,-327.098,-0.159,-121.337,3498.735,22664.076,8591.915,5093.180,16758.951,4752.911,-448.209000,-681.281,-393.224,1171.300,-1129.49000,1205.978
29,2016-09-01,2298.436,658.135,99.822,380.290,21.878,3107.968,12592.397,3172.261,64.293,9911.909,2680.488,423.649000,-247.611,-268.006,-320.870,176.03800,263.371
30,2016-06-01,1270.017,277.376,-238.040,-54.808,-293.188,3270.826,11868.952,3667.074,396.248,9348.658,2520.294,150.336000,-294.720,-319.854,1976.584,-144.38400,629.226
31,2016-03-01,1147.048,254.968,-248.224,-91.764,-282.267,1465.769,9191.702,3409.040,1943.271,8221.337,970.365,-249.605000,-216.859,-233.819,715.435,-466.46400,637.285
32,2015-12-01,1214.379,218.564,-260.333,-116.610,-320.397,1219.536,8092.460,2918.186,1698.650,7003.516,1088.944,-29.849000,-411.222,-414.280,225.038,-441.07100,634.466
33,2015-09-01,936.789,231.496,-183.662,-73.296,-229.858,1451.259,7547.497,2800.603,1349.344,6186.660,1314.656,-203.340000,-392.403,-404.090,893.978,-595.74300,652.809
34,2015-06-01,954.976,213.370,-170.188,-78.799,-184.227,1171.264,6468.185,2740.218,1568.954,5701.978,715.934,-159.516000,-405.165,-422.837,218.351,-564.68100,638.875
35,2015-03-01,939.880,260.073,-102.446,-25.334,-154.181,1530.769,6120.030,2645.846,1115.077,5294.033,825.997,-131.794000,-426.060,-432.344,186.156,-557.85400,630.332
36,2014-12-01,956.661,261.697,-74.838,-6.862,-107.629,1923.660,5849.251,2482.313,558.653,4879.345,911.710,-86.402000,-368.661,-372.231,11.325,-455.06300,632.128
37,2014-09-01,851.804,251.851,-39.129,25.843,-74.708,2388.066,5437.533,2468.820,80.754,4479.439,958.094,-27.996000,-284.175,-291.643,33.754,-312.17100,607.218
38,2014-06-01,769.349,212.995,-28.753,25.962,-61.900,2686.624,5054.463,2450.618,-236.006,4102.130,952.333,-3.580000,-175.685,2.610,281.492,-179.26500,603.412
39,2014-03-01,620.542,155.128,-43.967,0.301,-49.800,2584.068,4500.410,2200.753,-383.315,3588.354,912.056,60.641000,-141.364,-329.180,1816.559,-80.72300,598.272
40,2013-12-01,615.219,156.589,-13.353,24.232,-16.264,848.901,2416.930,606.878,-242.023,1749.810,667.120,129.762000,-89.434,-89.505,10.516,40.32800,7.904
41,2013-09-01,431.346,102.868,-30.554,-2.104,-38.496,796.381,2166.209,676.902,-119.479,1602.044,564.165,102.346000,-76.548,-77.502,24.215,25.79800,5.971
42,2013-06-01,405.139,100.483,-11.792,10.406,-30.502,747.419,1887.844,593.684,-153.735,1258.418,629.426,-38.193000,-40.515,-27.174,597.007,-78.70800,5.695
43,2013-03-01,561.792,96.320,-5.584,12.266,11.248,231.136,1143.778,455.538,224.402,975.195,168.583,64.079000,-57.727,-55.236,3.684,6.35200,56.293
44,2012-12-01,306.332,23.857,-90.883,-78.091,-89.931,220.984,1114.190,466.666,245.682,989.490,124.700,-60.061000,-41.483,-38.187,214.445,-101.54400,55.206
45,2012-09-01,50.104,-8.761,-108.460,-100.938,-110.804,108.554,809.177,474.514,365.960,837.052,-27.875,-94.952000,-68.472,-70.088,40.179,-163.42400,54.029
46,2012-06-01,26.653,4.762,-106.175,-101.827,-105.603,232.514,776.869,438.973,206.459,714.654,62.215,-60.981000,-61.286,-19.215,72.180,-122.26700,38.098
47,2012-03-01,30.167,10.210,-88.763,-84.600,-89.873,282.778,761.100,365.908,83.130,607.226,153.874,-50.087000,-67.987,-79.440,92.831,-118.07400,21.864
48,2011-12-01,39.375,7.835,-80.927,-76.123,-81.489,303.803,713.448,280.148,-23.655,489.403,224.045,-27.088000,-54.262,15.253,53.773,-81.35000,8.983
49,2011-09-01,57.666,17.224,-64.477,-60.197,-65.078,333.693,700.250,226.049,-107.644,406.132,294.118,-21.491000,-68.844,-178.170,93.609,-90.33500,0.388
50,2011-06-01,58.171,18.508,-58.739,-54.421,-58.903,330.631,646.155,134.823,-195.808,297.703,348.452,-22.488000,-54.314,-23.122,264.335,-76.80200,0.287
51,2011-03-01,49.030,18.028,-47.346,-43.829,-48.941,143.598,407.289,103.180,-40.418,239.551,167.738,-43.297000,-20.476,10.111,34.283,-63.77300,0.275
52,2010-12-01,36.286,11.321,-51.645,-48.755,-51.358,173.155,386.082,72.603,-100.552,172.946,213.136,-34.284000,-82.358,-8.550,45.829,-116.64200,0.279
53,2010-09-01,31.241,9.296,-37.834,-34.725,-34.935,184.693,361.621,57.414,-127.279,135.023,219.923,-48.342000,-5.383,-152.294,249.895,-53.72500,0.291
54,2010-06-01,28.405,6.261,-31.362,-28.879,-38.517,47.304,147.974,46.354,-0.950,121.815,9.450,-17.862000,-12.200,-10.074,13.694,-30.06200,0.296
55,2010-03-01,20.812,1.711,-25.998,-23.857,-29.519,61.546,145.320,30.932,NaN,95.033,39.928,-27.329000,-5.472,-9.379,28.627,-32.80100,0.293
56,2009-12-01,18.585,1.781,-22.925,-20.990,-24.242,69.627,130.424,1.090,-68.537,62.988,-253.523,-29.007000,-6.199,-6.199,-1.714,-35.20600,0.290
57,2009-09-01,45.527,7.699,-4.291,-2.343,-4.615,NaN,NaN,NaN,NaN,NaN,NaN,-23.489000,-2.256,-3.035,82.371,-25.74500,NaN
58,2009-06-01,26.945,2.101,-8.087,-6.402,-10.867,NaN,NaN,NaN,NaN,NaN,NaN,-12.166000,-2.527,-4.108,55.229,-14.69300,NaN
59,2009-03-01,20.886,-2.046,-16.594,-15.222,-16.016,NaN,NaN,NaN,NaN,NaN,NaN,-16.163000,-0.902,-0.902,19.533,-17.06500,NaN

# 2. Combining the data

this section for cleaning historical dataset and combining the historical dataset with quarter reports into one dataset

In [36]:
import pandas as pd

# Example TESLA
file_path = 'HistoricalData/TESLA.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path)

# Print the first few rows of the DataFrame
print(df.head())

            Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0                  NaN        NaN        NaN        NaN        NaN        NaN
1                 Date      Price       CVol     Change   % Change   % Return
2  2024-03-15 00:00:00     163.57   97146830       1.07   0.658462   0.658462
3  2024-03-14 00:00:00      162.5  126325695      -6.98   -4.11848   -4.11848
4  2024-03-13 00:00:00     169.48  106524490      -8.06  -4.539822  -4.539822

             Unnamed: 6           Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0                   NaN                  NaN        NaN        NaN
1  Total Return (Gross)  Cumulative Return %       Open       High
2                163.57         10170.197165     163.16   165.1845
3                 162.5          10103.01424     167.77     171.17
4                169.48         10541.272944     173.05     176.05

  Unnamed: 10          Unnamed: 11
0         NaN                  NaN
1         Low  Cumulative Change %
2      160.76         10170.197165
3      160.51          10103.01424
4      169.15         10541.272944

This is example of historical stock prices dataset of Tesla

In [37]:
import os
import pandas as pd

def process_excel(input_folder, output_folder):
    # Create the output folder if it doesn't exist
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)
    
    # Get a list of Excel files in the input folder
    excel_files = [f for f in os.listdir(input_folder) if f.endswith('.xlsx')]
    
    for file_name in excel_files:
        # Read the Excel file, skipping the first two rows
        input_file_path = os.path.join(input_folder, file_name)
        df = pd.read_excel(input_file_path, skiprows=2)
        
        # Convert the "Date" column to datetime format and extract only the date part
        if 'Date' in df.columns:
            df['Date'] = pd.to_datetime(df['Date'], format='%m-%d-%y', errors='coerce').dt.date
        
        # Construct the output file path for CSV
        output_csv_file_path = os.path.join(output_folder, file_name.replace('.xlsx', '.csv'))
        
        # Save the modified DataFrame to a new CSV file with the same name
        df.to_csv(output_csv_file_path, index=False)
        print(f"Processed and saved as CSV: {file_name}")
        
        # Load the CSV file into a DataFrame for further processing
        df_csv = pd.read_csv(output_csv_file_path)
        print(f"Loaded CSV into DataFrame: {file_name.replace('.xlsx', '.csv')}")
        # Now you can use df_csv for further processing
        
# Specify the input and output folder names
input_folder = 'HistoricalData'
output_folder = 'HistoricalDataCleaned'

process_excel(input_folder, output_folder)

Processed and saved as CSV: 1211.xlsx
Loaded CSV into DataFrame: 1211.csv
Processed and saved as CSV: 175.xlsx
Loaded CSV into DataFrame: 175.csv
Processed and saved as CSV: 2333.xlsx
Loaded CSV into DataFrame: 2333.csv
Processed and saved as CSV: 500520.xlsx
Loaded CSV into DataFrame: 500520.csv
Processed and saved as CSV: 5380.xlsx
Loaded CSV into DataFrame: 5380.csv
Processed and saved as CSV: 7201.xlsx
Loaded CSV into DataFrame: 7201.csv
Processed and saved as CSV: 7202.xlsx
Loaded CSV into DataFrame: 7202.csv
Processed and saved as CSV: 7203.xlsx
Loaded CSV into DataFrame: 7203.csv
Processed and saved as CSV: 7261.xlsx
Loaded CSV into DataFrame: 7261.csv
Processed and saved as CSV: 7267.xlsx
Loaded CSV into DataFrame: 7267.csv
Processed and saved as CSV: 7269.xlsx
Loaded CSV into DataFrame: 7269.csv
Processed and saved as CSV: 7270.xlsx
Loaded CSV into DataFrame: 7270.csv
Processed and saved as CSV: 9868.xlsx
Loaded CSV into DataFrame: 9868.csv
Processed and saved as CSV: BMW.xlsx
Loaded CSV into DataFrame: BMW.csv
Processed and saved as CSV: Ford.xlsx
Loaded CSV into DataFrame: Ford.csv
Processed and saved as CSV: GM.xlsx
Loaded CSV into DataFrame: GM.csv
Processed and saved as CSV: LCID.xlsx
Loaded CSV into DataFrame: LCID.csv
Processed and saved as CSV: LI.xlsx
Loaded CSV into DataFrame: LI.csv
Processed and saved as CSV: MBG.xlsx
Loaded CSV into DataFrame: MBG.csv
Processed and saved as CSV: NIO.xlsx
Loaded CSV into DataFrame: NIO.csv
Processed and saved as CSV: PII.xlsx
Loaded CSV into DataFrame: PII.csv
Processed and saved as CSV: PSNY.xlsx
Loaded CSV into DataFrame: PSNY.csv
Processed and saved as CSV: RACE.xlsx
Loaded CSV into DataFrame: RACE.csv
Processed and saved as CSV: RIVN.xlsx
Loaded CSV into DataFrame: RIVN.csv
Processed and saved as CSV: RNO.xlsx
Loaded CSV into DataFrame: RNO.csv
Processed and saved as CSV: STLAM.xlsx
Loaded CSV into DataFrame: STLAM.csv
Processed and saved as CSV: TESLA.xlsx
Loaded CSV into DataFrame: TESLA.csv
Processed and saved as CSV: VFS.xlsx
Loaded CSV into DataFrame: VFS.csv
Processed and saved as CSV: VOLVO.xlsx
Loaded CSV into DataFrame: VOLVO.csv
Processed and saved as CSV: vw.xlsx
Loaded CSV into DataFrame: vw.csv

Here we have connverted the historcal data csv into a dataframe and converting date into date type

In [38]:
import os
import pandas as pd

def add_filename_column(folder_path):
    # List all files in the folder
    files = os.listdir(folder_path)
    
    # Filter out only CSV files
    csv_files = [file for file in files if file.endswith('.csv')]
    
    # Iterate over each CSV file
    for file in csv_files:
        file_path = os.path.join(folder_path, file)
        
        # Read the CSV file
        df = pd.read_csv(file_path)
        
        # Get the file name without extension
        filename = os.path.splitext(file)[0]
        
        # Add a new column with the file name
        df['Stock'] = filename
        
        # Save the modified DataFrame back to CSV
        df.to_csv(file_path, index=False)

# Specify the folder path containing CSV files
folder_path = 'HistoricalDataCleaned'

# Call the function to add the filename column to each CSV file in the folder
add_filename_column(folder_path)
print("Done")

Done

Added the company name into the dataframe

In [39]:
import os
import pandas as pd

def process_csv_files(input_folder, output_folder):
    # Create the output folder if it doesn't exist
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)

    # Iterate through each file in the input folder
    for filename in os.listdir(input_folder):
        if filename.endswith('.csv'):
            # Read the CSV file
            csv_path = os.path.join(input_folder, filename)
            df = pd.read_csv(csv_path)

            # Count NaN values in each column
            nan_counts = df.isna().sum()

            # Print the number of NaN values for each column
            print(f"NaN counts for {filename}:")
            print(nan_counts)

            # Drop rows with NaN values
            df = df.dropna()

            # Save the modified DataFrame to a new CSV file in the output folder
            output_path = os.path.join(output_folder, filename)
            df.to_csv(output_path, index=False)

            print(f"Processed {filename}, NaN rows dropped. Saved to {output_path}")

# Specify input and output folders
input_folder = 'HistoricalDataCleaned'
output_folder = 'CleanedHisPrices'

# Process CSV files in the input folder and save modified CSV files to the output folder
process_csv_files(input_folder, output_folder)

NaN counts for 1211.csv:
Date                     0
Price                    0
CVol                    10
Change                   5
% Change                 5
% Return                 5
Total Return (Gross)     0
Cumulative Return %      1
Open                     0
High                     0
Low                      0
Cumulative Change %      1
Stock                    0
dtype: int64
Processed 1211.csv, NaN rows dropped. Saved to CleanedHisPrices\1211.csv
NaN counts for 175.csv:
Date                     0
Price                    0
CVol                    15
Change                  30
% Change                30
% Return                30
Total Return (Gross)     0
Cumulative Return %      1
Open                     0
High                     0
Low                      0
Cumulative Change %      1
Stock                    0
dtype: int64
Processed 175.csv, NaN rows dropped. Saved to CleanedHisPrices\175.csv
NaN counts for 2333.csv:
Date                     0
Price                    0
CVol                    21
Change                  17
% Change                17
% Return                17
Total Return (Gross)     0
Cumulative Return %      1
Open                     0
High                     0
Low                      0
Cumulative Change %      1
Stock                    0
dtype: int64
Processed 2333.csv, NaN rows dropped. Saved to CleanedHisPrices\2333.csv
NaN counts for 500520.csv:
Date                    0
Price                   0
CVol                    0
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 500520.csv, NaN rows dropped. Saved to CleanedHisPrices\500520.csv
NaN counts for 5380.csv:
Date                       0
Price                      0
CVol                    1842
Change                    24
% Change                  24
% Return                  21
Total Return (Gross)       0
Cumulative Return %        1
Open                       0
High                       0
Low                        0
Cumulative Change %        1
Stock                      0
dtype: int64
Processed 5380.csv, NaN rows dropped. Saved to CleanedHisPrices\5380.csv
NaN counts for 7201.csv:
Date                    0
Price                   0
CVol                    1
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 7201.csv, NaN rows dropped. Saved to CleanedHisPrices\7201.csv
NaN counts for 7202.csv:
Date                    0
Price                   0
CVol                    1
Change                  3
% Change                3
% Return                3
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 7202.csv, NaN rows dropped. Saved to CleanedHisPrices\7202.csv
NaN counts for 7203.csv:
Date                    0
Price                   0
CVol                    1
Change                  3
% Change                3
% Return                3
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 7203.csv, NaN rows dropped. Saved to CleanedHisPrices\7203.csv
NaN counts for 7261.csv:
Date                    0
Price                   0
CVol                    1
Change                  3
% Change                3
% Return                3
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 7261.csv, NaN rows dropped. Saved to CleanedHisPrices\7261.csv
NaN counts for 7267.csv:
Date                    0
Price                   0
CVol                    1
Change                  3
% Change                3
% Return                3
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 7267.csv, NaN rows dropped. Saved to CleanedHisPrices\7267.csv
NaN counts for 7269.csv:
Date                    0
Price                   0
CVol                    1
Change                  2
% Change                2
% Return                2
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 7269.csv, NaN rows dropped. Saved to CleanedHisPrices\7269.csv
NaN counts for 7270.csv:
Date                    0
Price                   0
CVol                    1
Change                  2
% Change                2
% Return                2
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 7270.csv, NaN rows dropped. Saved to CleanedHisPrices\7270.csv
NaN counts for 9868.csv:
Date                    0
Price                   0
CVol                    0
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed 9868.csv, NaN rows dropped. Saved to CleanedHisPrices\9868.csv
NaN counts for BMW.csv:
Date                    0
Price                   0
CVol                    0
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed BMW.csv, NaN rows dropped. Saved to CleanedHisPrices\BMW.csv
NaN counts for Ford.csv:
Date                      0
Price                     0
CVol                      1
Change                  350
% Change                350
% Return                350
Total Return (Gross)      0
Cumulative Return %      17
Open                      0
High                      0
Low                       0
Cumulative Change %      17
Stock                     0
dtype: int64
Processed Ford.csv, NaN rows dropped. Saved to CleanedHisPrices\Ford.csv
NaN counts for GM.csv:
Date                     0
Price                    0
CVol                     0
Change                  32
% Change                32
% Return                30
Total Return (Gross)     0
Cumulative Return %      1
Open                     0
High                     0
Low                      0
Cumulative Change %      2
Stock                    0
dtype: int64
Processed GM.csv, NaN rows dropped. Saved to CleanedHisPrices\GM.csv
NaN counts for LCID.csv:
Date                     0
Price                    0
CVol                     0
Change                  24
% Change                24
% Return                24
Total Return (Gross)     0
Cumulative Return %      1
Open                     0
High                     0
Low                      0
Cumulative Change %      1
Stock                    0
dtype: int64
Processed LCID.csv, NaN rows dropped. Saved to CleanedHisPrices\LCID.csv
NaN counts for LI.csv:
Date                    0
Price                   0
CVol                    0
Change                  4
% Change                4
% Return                4
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed LI.csv, NaN rows dropped. Saved to CleanedHisPrices\LI.csv
NaN counts for MBG.csv:
Date                    0
Price                   0
CVol                    0
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed MBG.csv, NaN rows dropped. Saved to CleanedHisPrices\MBG.csv
NaN counts for NIO.csv:
Date                    0
Price                   0
CVol                    0
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed NIO.csv, NaN rows dropped. Saved to CleanedHisPrices\NIO.csv
NaN counts for PII.csv:
Date                     0
Price                    0
CVol                     0
Change                  18
% Change                18
% Return                18
Total Return (Gross)     0
Cumulative Return %      1
Open                     0
High                     0
Low                      0
Cumulative Change %      2
Stock                    0
dtype: int64
Processed PII.csv, NaN rows dropped. Saved to CleanedHisPrices\PII.csv
NaN counts for PSNY.csv:
Date                     0
Price                    0
CVol                     5
Change                  40
% Change                40
% Return                40
Total Return (Gross)     0
Cumulative Return %      3
Open                     0
High                     0
Low                      0
Cumulative Change %      3
Stock                    0
dtype: int64
Processed PSNY.csv, NaN rows dropped. Saved to CleanedHisPrices\PSNY.csv
NaN counts for RACE.csv:
Date                    0
Price                   0
CVol                    0
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed RACE.csv, NaN rows dropped. Saved to CleanedHisPrices\RACE.csv
NaN counts for RIVN.csv:
Date                    0
Price                   0
CVol                    0
Change                  2
% Change                2
% Return                2
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed RIVN.csv, NaN rows dropped. Saved to CleanedHisPrices\RIVN.csv
NaN counts for RNO.csv:
Date                    0
Price                   0
CVol                    0
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed RNO.csv, NaN rows dropped. Saved to CleanedHisPrices\RNO.csv
NaN counts for STLAM.csv:
Date                    0
Price                   0
CVol                    0
Change                  2
% Change                2
% Return                2
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed STLAM.csv, NaN rows dropped. Saved to CleanedHisPrices\STLAM.csv
NaN counts for TESLA.csv:
Date                     0
Price                    0
CVol                     0
Change                  11
% Change                11
% Return                11
Total Return (Gross)     0
Cumulative Return %      2
Open                     0
High                     0
Low                      0
Cumulative Change %      2
Stock                    0
dtype: int64
Processed TESLA.csv, NaN rows dropped. Saved to CleanedHisPrices\TESLA.csv
NaN counts for VFS.csv:
Date                      0
Price                     0
CVol                    135
Change                  106
% Change                106
% Return                106
Total Return (Gross)      0
Cumulative Return %       1
Open                      0
High                      0
Low                       0
Cumulative Change %       1
Stock                     0
dtype: int64
Processed VFS.csv, NaN rows dropped. Saved to CleanedHisPrices\VFS.csv
NaN counts for VOLVO.csv:
Date                    0
Price                   0
CVol                    0
Change                  1
% Change                1
% Return                1
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed VOLVO.csv, NaN rows dropped. Saved to CleanedHisPrices\VOLVO.csv
NaN counts for vw.csv:
Date                    0
Price                   0
CVol                    0
Change                  4
% Change                4
% Return                4
Total Return (Gross)    0
Cumulative Return %     1
Open                    0
High                    0
Low                     0
Cumulative Change %     1
Stock                   0
dtype: int64
Processed vw.csv, NaN rows dropped. Saved to CleanedHisPrices\vw.csv

Drop rows with NaN values as Some companies contain empty data points

In [46]:
import pandas as pd
import os

# Directories
cleaned_reports_directory = "Cleaned Quarter Reports"
historical_data_directory = "CleanedHisPrices"
output_directory = "Datasets"

# Create the output directory if it doesn't exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Get list of common filenames in both directories
common_filenames = set(os.listdir(cleaned_reports_directory)) & set(os.listdir(historical_data_directory))

# Iterate over each common filename
for filename in common_filenames:
    print(f"Processed CSV: {filename}")
    # Check if the file is a CSV file
    if filename.endswith(".csv"):
        # Read CSV files from both directories
        cleaned_filepath = os.path.join(cleaned_reports_directory, filename)
        historical_filepath = os.path.join(historical_data_directory, filename)
        
        cleaned_df = pd.read_csv(cleaned_filepath)
        historical_df = pd.read_csv(historical_filepath)
        
        # Merge DataFrames based on "Date" column
        merged_df = pd.merge(cleaned_df, historical_df, on='Date')
        
        # Save merged DataFrame to a new CSV file with the same filename in the output directory
        output_filepath = os.path.join(output_directory, filename)
        merged_df.to_csv(output_filepath, index=False)

Processed CSV: Ford.csv
Processed CSV: PSNY.csv
Processed CSV: 500520.csv
Processed CSV: VFS.csv
Processed CSV: GM.csv
Processed CSV: LI.csv
Processed CSV: STLAM.csv
Processed CSV: 9868.csv
Processed CSV: 7270.csv
Processed CSV: RIVN.csv
Processed CSV: MBG.csv
Processed CSV: TESLA.csv
Processed CSV: 175.csv
Processed CSV: 7201.csv
Processed CSV: VOLVO.csv
Processed CSV: 7202.csv
Processed CSV: 7203.csv
Processed CSV: NIO.csv
Processed CSV: vw.csv
Processed CSV: 5380.csv
Processed CSV: RACE.csv
Processed CSV: RNO.csv
Processed CSV: LCID.csv
Processed CSV: 7267.csv
Processed CSV: 2333.csv
Processed CSV: BMW.csv
Processed CSV: 7261.csv
Processed CSV: 7269.csv
Processed CSV: PII.csv
Processed CSV: 1211.csv

-Here we merge the historcal dataset witht the quarter reports for each company

-Now the financial data and the stock prices are merged into one csv based on "Date" into folder "Datasets"

-Next we need to combine all companies into one csv

In [47]:
import pandas as pd
import os

# Assuming all your CSV files are stored in a folder named 'quarter_reports'
folder_path = 'Datasets'  # Replace 'Datasets' with the actual path to your folder

# Initialize an empty list to store DataFrames for each CSV file
dfs = []

try:
    # Iterate over each CSV file in the folder
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.csv'):  # Check if the file is a CSV file
            file_path = os.path.join(folder_path, file_name)  # Get the full file path
            df = pd.read_csv(file_path)  # Read the CSV file into a DataFrame
            # Add a new column with the CSV file name (without .csv extension)
            df['Stock'] = os.path.splitext(file_name)[0]
            dfs.append(df)  # Append the DataFrame to the list
    if not dfs:
        raise FileNotFoundError("No CSV files found in the specified folder.")
        
    # Concatenate all DataFrames into a single DataFrame
    combined_df = pd.concat(dfs, ignore_index=True, sort=False)

    # Define the path to the "Combined" folder
    output_folder = 'Combined'

    # Create the output folder if it doesn't exist
    os.makedirs(output_folder, exist_ok=True)

    # Define the path to save the combined DataFrame
    output_file_path = os.path.join(output_folder, 'combined_data.csv')

    # Save the combined DataFrame to a CSV file
    combined_df.to_csv(output_file_path, index=False)

    print(f"Combined DataFrame saved to {output_file_path}")

    # Display the combined DataFrame
    print(combined_df)

except Exception as e:
    print("An error occurred:", e)

Combined DataFrame saved to Combined\combined_data.csv
            Date         Sales  Gross Income        EBIT      EBITDA  \
0     2023-06-01  19593.273781   3390.528084   821.72970         NaN
1     2023-03-01  17235.981654   2809.461672   620.95953         NaN
2     2022-12-01  21579.652932   3642.484188  1248.31461  2034.63484
3     2022-09-01  16780.137875   2792.730051   950.21545  1766.71790
4     2022-06-01  12477.423959   1526.700345   395.64160  1089.63737
...          ...           ...           ...         ...         ...
1191  2005-06-01  30920.932178   4139.814808   826.45346  3447.95880
1192  2005-03-01  27350.308701   3381.921709   234.63720  2854.97111
1193  2004-12-01  29315.240627   7077.701449  -957.77721  1451.57034
1194  2004-09-01  25893.795148   3380.639922   260.33127  2831.86648
1195  2004-06-01  28315.297610   3952.988505   684.12476  3220.68594

       Net Income  Cash & Short-Term Investments   Total Assets    Total Debt  \
0      972.077042                   12785.664554   81377.938919   4305.771373
1      603.631767                    9708.379588   79615.096986   5594.476748
2     1027.353496                   10371.303932   71390.052758   4061.847924
3      834.082097                    6680.685390   60107.014766   4045.862724
4      421.432430                    8430.373737   51821.924433   5604.617551
...           ...                            ...            ...           ...
1191   377.376008                   14668.227781  161062.371039  75773.333491
1192    85.203454                   14961.568896  167319.519010  78311.700436
1193   336.971686                   18862.308240  173444.340877  83268.996548
1194    81.888241                   17421.533773  160290.033908           NaN
1195   419.146862                   14017.026129  153089.869002           NaN

          Net Debt  ...    Change  % Change  % Return  Total Return (Gross)  \
0     -8479.893181  ... -0.270395 -0.895398 -0.895400             32.742146
1     -4113.902840  ...  1.682365  6.252711  6.252709             31.276810
2     -6309.456008  ...  0.340681  1.388609  1.388604             27.213709
3     -2634.822666  ... -1.221032 -3.956935 -3.956936             32.423855
4     -2825.756187  ...  0.324284  0.908638  0.908642             39.383980
...            ...  ...       ...       ...       ...                   ...
1191           NaN  ...  0.691894  2.503557  2.503547             30.857887
1192           NaN  ...  0.242832  0.773058  0.773059             32.998380
1193  64406.688308  ...  0.384373  1.372370  1.372382             29.597525
1194           NaN  ...  0.219983  0.970844  0.970862             23.850075
1195           NaN  ... -0.115272 -0.457971 -0.457979             26.118387

      Cumulative Return %       Open       High        Low  \
0             3723.834303  29.876852  30.489712  29.647030
1             3552.703124  27.212618  28.715935  27.085218
2             3078.188564  25.555984  26.121609  24.746110
3             3686.662273  30.732770  30.783740  29.280228
4             4499.509565  35.681973  36.370120  35.350636
...                   ...        ...        ...        ...
1191            19.408333  27.384401  28.401747  27.384401
1192            27.691230  30.808943  31.778769  30.808943
1193            14.531209  27.743698  28.506140  27.743698
1194            -7.709245  22.754017  22.993422  22.754017
1195             1.068263  25.096682  25.295284  24.709934

      Cumulative Change %  Stock
0             3395.171593   1211
1             3238.749415   1211
2             2805.019904   1211
3             3361.194953   1211
4             4105.860998   1211
...                   ...    ...
1191             9.619897     vw
1192            22.491765     vw
1193             9.867599     vw
1194           -11.467242     vw
1195            -3.047141     vw

[1196 rows x 30 columns]

Now all companies are combined into one dataset with quarter reports and historical prices

In [59]:
import pandas as pd

file_path = 'Combined/combined_data.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
df

,Date,Sales,Gross Income,EBIT,EBITDA,Net Income,Cash & Short-Term Investments,Total Assets,Total Debt,Net Debt,...,Change,% Change,% Return,Total Return (Gross),Cumulative Return %,Open,High,Low,Cumulative Change %,Stock
0,2023-06-01,19593.273781,3390.528084,821.72970,NaN,972.077042,12785.664554,81377.938919,4305.771373,-8479.893181,...,-0.270395,-0.895398,-0.895400,32.742146,3723.834303,29.876852,30.489712,29.647030,3395.171593,1211
1,2023-03-01,17235.981654,2809.461672,620.95953,NaN,603.631767,9708.379588,79615.096986,5594.476748,-4113.902840,...,1.682365,6.252711,6.252709,31.276810,3552.703124,27.212618,28.715935,27.085218,3238.749415,1211
2,2022-12-01,21579.652932,3642.484188,1248.31461,2034.63484,1027.353496,10371.303932,71390.052758,4061.847924,-6309.456008,...,0.340681,1.388609,1.388604,27.213709,3078.188564,25.555984,26.121609,24.746110,2805.019904,1211
3,2022-09-01,16780.137875,2792.730051,950.21545,1766.71790,834.082097,6680.685390,60107.014766,4045.862724,-2634.822666,...,-1.221032,-3.956935,-3.956936,32.423855,3686.662273,30.732770,30.783740,29.280228,3361.194953,1211
4,2022-06-01,12477.423959,1526.700345,395.64160,1089.63737,421.432430,8430.373737,51821.924433,5604.617551,-2825.756187,...,0.324284,0.908638,0.908642,39.383980,4499.509565,35.681973,36.370120,35.350636,4105.860998,1211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,2005-06-01,30920.932178,4139.814808,826.45346,3447.95880,377.376008,14668.227781,161062.371039,75773.333491,NaN,...,0.691894,2.503557,2.503547,30.857887,19.408333,27.384401,28.401747,27.384401,9.619897,vw
1192,2005-03-01,27350.308701,3381.921709,234.63720,2854.97111,85.203454,14961.568896,167319.519010,78311.700436,NaN,...,0.242832,0.773058,0.773059,32.998380,27.691230,30.808943,31.778769,30.808943,22.491765,vw
1193,2004-12-01,29315.240627,7077.701449,-957.77721,1451.57034,336.971686,18862.308240,173444.340877,83268.996548,64406.688308,...,0.384373,1.372370,1.372382,29.597525,14.531209,27.743698,28.506140,27.743698,9.867599,vw
1194,2004-09-01,25893.795148,3380.639922,260.33127,2831.86648,81.888241,17421.533773,160290.033908,NaN,NaN,...,0.219983,0.970844,0.970862,23.850075,-7.709245,22.754017,22.993422,22.754017,-11.467242,vw
1195,2004-06-01,28315.297610,3952.988505,684.12476,3220.68594,419.146862,14017.026129,153089.869002,NaN,NaN,...,-0.115272,-0.457971,-0.457979,26.118387,1.068263,25.096682,25.295284,24.709934,-3.047141,vw

Full dataset